{{#if isFormShowing}}
  <form id="newAnswerForm" action="index.html" method="post">
    <div class="form-group">
      <label for="name">Name</label>
      {{input class="form-control" value=name id=nameInput required="required"}}
    </div>
    <div class="form-group">
      <label for="reply">Reply</label>
      {{textarea class="form-control" value=reply id=replyInput rows="3" required="required"}}
    </div>
    <button class="btn btn-success"{{action 'addAnswer'}}>Post Answer</button>
  </form>
{{else}}
  <button class="btn btn-primary"{{action 'showForm'}}>Write Answer</button>
{{/if}}
