{{#if isFormShowing}}
<form id="newQuestionForm" action="index.html" method="post">
  <label for="name">Name</label>
  {{input value=name id=nameInput}}
  <label for="topic">Topic</label>
  {{input value=topic id=topicInput}}
  <label for="question">Question</label>
  {{input value=question id=questionInput}}
  <label for="desc">Description</label>
  {{input value=desc id=descInput}}
  <button {{action 'saveQuestion'}}>Post Question</button>
</form>
{{else}}
  <button {{action 'showForm'}}>Add Question</button>
{{/if}}
