{{#if isFormShowing}}
<form id="updateQuestionForm" action="index.html" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    {{input class="form-control" value=name placeholder=question.name id=nameInput required="required"}}
  </div>
  <div class="form-group">
    <label for="topic">Topic</label>
    {{input class="form-control" value=topic placeholder=question.topic id=topicInput required="required"}}
  </div>
  <div class="form-group">
    <label for="question">Question</label>
    {{input class="form-control" value=newQuestion placeholder=question.question id=questionInput required="required"}}
  </div>
  <div class="form-group">
    <label for="desc">Description</label>
    {{textarea class="form-control" value=desc id=descInput rows="3" placeholder="Type any changes here." required="required"}}
  </div>
  <button class="btn btn-success"{{action 'updateQuestion' question}}>Save</button>
</form>
{{else}}
  <button class="btn btn-primary"{{action 'showForm'}}>Update Question</button>
{{/if}}
