<div class="well">
  <div class="question-info">
    <h2>{{model.question}}</h2>
    <h4>Topic: {{model.topic}}</h4>
    <p>{{model.desc}}</p>
    <h3>Written by: {{model.name}}</h3>
  </div>
  <div class="update-question">
    <!-- {{update-question question=model updateQuestion="updateQuestion"}} -->
  </div>
</div>
